header {
    text-align: center;
	width: 45%;
	margin: 2em auto 4em auto;
	padding: 2em 1em;
	background-color: maroon;
	color: white;
	color: beige;
	border-radius: 20px;
	box-shadow: 2px 2px 2px 2px silver;
	}