article, section{
	width: 60%;
	margin: 1em auto;
}		

form {
	width: 100%;
	margin: 1em;
	padding: 1em 0em;
	background-color: beige;
	overflow: hidden;
	}				

form label {
	width: 40%;
	margin: 1em auto;
	display:inline-block;
	text-align: right;
	padding: 0 2em;
}

form input {
	display: inline-block;
	width: 40%;
}
p {
	margin: 2em;
}		
