<form class="container" (ngSubmit)="btnInsert()">
  <p>
    <label for="autor">Autor</label>
    <input type="text" id="autor" name="autor"
    [(ngModel)]="oLibro.autor">  
  </p> 
  <p>
    <label for="titulo">Titulo</label>
    <input type="text" id="titulo" name="titulo"
    [(ngModel)]="oLibro.titulo">  
  </p>
  <p>
    <input type="checkbox" id="exlibris" name="exlibris"
    [(ngModel)]="oLibro.exlibris">  
    <label for="exlibris">Disponible</label>
  </p>
  <p>Selecciona un género</p>
  <p>
    <input type="radio" id="fantastico" name="genero"
    value="fantastico" [(ngModel)]="oLibro.genero">  
    <label for="fantastico">Fantástico</label>

    <input type="radio" id="policiaco" name="genero"
    value="policiaco" [(ngModel)]="oLibro.genero">  
    <label for="policiaco">Policiaco</label>
    
    <input type="radio" id="otros" name="genero"
    value="otros" [(ngModel)]="oLibro.genero">  
    <label for="otros">Otros</label>
  </p>
  <p>
    <select name="pais" id="pais" 
    [(ngModel)]="oLibro.pais">
      <option *ngFor="let pais of aPaises" 
            [ngValue]="pais">{{pais.nombre}}</option>
    </select>
  </p>
  <button type="submit">Añadir</button>
  <button type="clear" (click)="btnBorrar()">Borrar</button>
  
</form>

<div *ngIf="estaEnviado">
  <h2>Resultado</h2>
  <p>{{oLibro | json}}</p>
</div>
  <!--
  <div [hidden]="aIdeas.length ? false : true">

  <div *ngIf="aIdeas.length">
    <h2>Lista de ideas</h2>
    <ul>
      <li *ngFor="let idea of aIdeas; let i = index">{{idea}} ({{i+1}})</li>
    </ul>
  </div>
  -->


